:root {
    --primary-color: #F1D302;
    --secondary-color: #232323;
    --tertiary-color: #333;
    --quaternary-color: #4DFF5E;
    --quinary-color: #79747E;
    --senary-color: #818080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Inter', sans-serif;
}

/* NAVIGATION DESIGN */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    position: sticky;
    top: 0;
    background-color: var(--tertiary-color);
}

.logo {
    font-size: 28px;
    font-weight: 900;
    margin: 0;
    margin-right: 20px;
}

.seperator {
    background-color: white;
    width: 2px;
    height: 26px;
    margin-right: 20px;
}

nav div a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

nav div a:hover {
    color: var(--primary-color);
}

nav div a p {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* HEADER SECTION */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10rem ;
}

header h1 {
    font-size: 90px;
    font-weight: 900;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .info {
    padding-bottom: 200px;
}

header .info-card {
    display: flex;
    align-items: center;
}

header .info-card:not(:last-child) {
    margin-bottom: 20px;
}

.icon {
    margin-right: 10px;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: var(--quaternary-color);
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 2px;
}

header .bio {
    width: 400px;
}

header .bio p {
    font-size: 22px;
    font-weight: 300;
}

.button {
    display: inline-block;
    padding: 15px 45px;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    border: #fff 2px solid;
    margin-top: 40px;
  }
  
  .button:hover {
    background-color: var(--quinary-color);
  }

hr {
    margin: 0;
    padding: 0;
}

/* ABOUT SECTION */

#about {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10rem 10rem 15rem;
}


#about h2 {
    font-size: 72px;
    font-weight: 900;
    width: 675px;
    margin-bottom: 20px;
}

#about .title {
    font-size: 18px;
    font-weight: 300;
}

#about .title p {
    margin-bottom: 30px;
}

.socials a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.socials a i:hover {
    color: var(--primary-color);
}

.experiences p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 1rem;
    width: 551px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skills .skill {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: var(--quinary-color);
    padding: 10px 24px;
    border-radius: 100px;
}

.resume {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
    margin: 0;
}


a.resume {
    text-decoration: none;
    color: white;
}

a.resume:hover{
    color: var(--primary-color);
}

/* WORKS SECTION */

#works {
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#works h2 {
   font-size: 72px;
   text-align: center;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 100px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: var(--secondary-color);
    color: white;
    font-size: 56px;
    font-weight: 900;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: white 2px solid;
    outline: none;
    transition: 0.4s;
    margin: 0 auto 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--senary-color);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    width: 80%;
    padding: 0 18px;
    background-color: none;
    display: none;
    overflow: hidden;
    margin-bottom: 40px;
  }

  /* CONTACT SECTION */


  #contact h2 {
    font-size: 72px;
    text-align: center;
    font-weight: 900;
    margin-top: 80px;
 }

 #contact p {
    text-align: center;
 }
 
#contact-form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  font-family: 'Inter', sans-serif;
  background: transparent;
  outline: none;
  color: white;
  
  border: solid 1px white;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: white;
  color: var(--secondary-color);
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  font-family: 'Inter', sans-serif;
  background: transparent;
  outline: none;
  
  color: white;
  font-size: 0.875em;
  
  border: solid 1px white;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: white;
  color: var(--secondary-color);
}

#submit {
font-family: 'Inter', sans-serif;
  width: 470px;
  font-weight: 900;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 18px;
  color: white;
  outline:none;
  cursor: pointer;
  border: solid 1px white;
  border-top: none;
}

#submit:hover {
  color:  var(--secondary-color);
}

  /* FOOTER SECTION */

footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer p {
    text-align: center;
    font-size: 12px;
}