* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* NAVIGATION DESIGN */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    position: sticky;
    top: 0;
    background-color: #333;
}

nav div a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

/* HEADER SECTION */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10rem ;
}

header h1 {
    font-size: 90px;
    font-weight: 900;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .info {
    padding-bottom: 200px;
}

header .info-card {
    display: flex;
    align-items: center;
}


.circle {
    width: 12px;
    height: 12px;
    background-color: #4DFF5E;
    border-radius: 50%;
}

header .bio {
    width: 400px;
}

header .bio p {
    font-size: 22px;
    font-weight: 300;
}

.bio button {
    padding: 1rem 2rem;
    margin-top: 2rem;
    background: none;
    color: white;
    border: #FFFFFF 1px solid;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    border-radius: 20px;
}

hr {
    margin: 0;
    padding: 0;
}

/* ABOUT SECTION */

#about {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10rem 10rem 15rem;
}

#about a {
    text-decoration: none;
    color: white;
}

#about h2 {
    font-size: 72px;
    font-weight: 900;
    width: 675px;
    margin-bottom: 20px;
}

#about .title {
    font-size: 18px;
    font-weight: 300;
}

#about .title p {
    margin-bottom: 30px;
}

.experiences p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 1rem;
    width: 551px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skills .skill {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #79747E;
    padding: 10px 24px;
    border-radius: 100px;
}

.resume {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.resume p{
    font-weight: 900;
    margin: 0;
}